<h1>Sunt in componenta Home</h1>
<p>home works!</p>
<p [style]="myStyle">{{ myVar }}</p>
<button (click)="myVar = 'You clicked the button!'">Click me</button>
<button (click)="myFunction()">Change style</button>


<input type="text" [(ngModel)]="myVar" />

<app-article [parentColor]="parentColor" [parentMessage]="parentMessage"
    (messageFromChild)="handleMessageFromChild($event)"></app-article>



<h2>Continuare Curs1</h2>

<p *ngIf="!hideParagraf">1. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ex vero veritatis atque
    dolorum,
    maxime assumenda inventore delectus ea omnis? Itaque excepturi amet natus rerum?</p>


@if (!hideParagraf) {
<p>2. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius ex vero veritatis atque dolorum, maxime assumenda
    inventore delectus ea omnis? Itaque excepturi amet natus rerum?</p>
}
<button (click)="myParagraf()">Hide paragraf</button>

<button (click)="showAlert('This is an alert!')">Show alert</button>